#Container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 1vmin);
  background-color: white;
  color: #333333;
  border-radius: 5px;
  width: 90%;
  max-width: 400px;
  min-width: 230px;
  padding: 10px;
  margin: 50px;
  box-shadow: 0px 0px 25px grey;
}

.Picker-header {
  color: #62676D
}

h2 {
  font-size: 17px;
  margin: 0px;
}

.small-Text {
  font-size: 10px;
}

#date-Input, #timer-Input{
  background-color: #e3e3e3;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 25px;
  text-align: center;
  font-weight: bolder;
  margin: 5px;
}

.Picker-body {
  color: #62676D;
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  overflow-x: scroll;
}

#Calendar {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height:300px;
}

.Cal-Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 220px;
}

h3 {
  color: #4780f7;
  font-size: 15px;
}

.Arrows {
  color: #a3a3a3;
  font-size: smaller;
  cursor: pointer;
  margin-right: 5px;
}

#left, #right {
  margin-left: 10px;
  width:20px;
  height:20px;
  padding: 5px;
}

#left:hover, 
#right:hover {
  background-color: #b3b3b3;
  color: white;
  border-radius: 50%;
}

.Cal-Body {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
}

.Cal-Body th{
  background-color:white;
  min-width: 25px;
  min-height: 25px;
  height: 25px;
}

thead{
  border-bottom: solid 1px black;
}

.Cal-Body td{
  background-color:white;
  min-width: 25px;
  min-height: 25px;
  height: 25px;
  cursor: pointer;
  text-align: center;
  
}

.Cal-Body td:hover{
  border-radius: 5px;
  background-color: #e3e3e3;
  color: black;
  font-weight: bolder;
}

.Cal-Body td:active{
  border-radius: 50%;
  background-color: #a3a3a3;
  color: white;
  font-weight: bolder;
}

table{
  text-align: center;
  line-height: 20px;
  font-size: smaller;
}

td{
  min-width: 25px;
  min-height: 25px;
}

td:hover{
  background-color: #e3e3e3;
  border-radius: 5px;
  color: black;
  font-weight: bolder;
}

td:active{
  background-color: #e3e3e3;
  border-radius: 5px;
  color: black;
  font-weight: bolder;
}

td.today{
  border-radius: 50%;
  background-color: #4780f7;
  color: orange;
  font-weight: bolder;
}

td.today:hover{
  border-radius: 50%;
  background-color: orange;
  color:#4780f7;
  font-weight: bolder;
}

td.selected{
  border-radius: 5px;
  background-color: #a3a3a3;
  color: white;
  font-weight: bolder;
}

td.selected:hover{
  background-color:#a3a3a3;
}

td.out{
  border-radius: 5px;
  color: #a3a3a3;
  font-weight: lighter;
}

td.out:hover{
  border-radius: 5px;
  color: black;
  font-weight: lighter;
}

.Picker-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  min-height: 70px;
}

button {
  color: #62676D;
  background-color: #e3e3e3;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin:5px 5px 5px 0px;
  height: 35px;
  min-width: 90px;
}

button:hover{
  box-shadow: 0px 0px 5px grey;
}

button:active {
  box-shadow: none;
}

.blueButton{
  background-color: #4780F7;
  color: white;
}